.impl_mark-container {
    padding: 1rem;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
}

.impl_btn {
    border: none;
    border-radius: 0.2rem;
    background-color: green;
    color: white;
    margin-right: 1rem;
}

.impl_date {
    color:green;
}