.THIS.login-page__section{
    position: relative;
    min-height: 100vh;
}
.THIS .login-page__wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
.THIS .login-page__container{
    display: flex;
    padding: 0 15px;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.THIS .login-page__logo-container,
.THIS .login-page__form-container{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.THIS .login-page__form-container{
    padding-left: 40px;
}
.THIS .login-page__logo-container{
    padding-right: 40px;
    align-items: flex-end;
}
.THIS .login-page__logo-container img{
    max-height: 85px;
    height: 100%;
}
.THIS .login-page__form-container .inputContainer .inputIcon{
    display: none;
}
.THIS .login-page__form-container a.inverseTextColor{
    color: #000;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .THIS .login-page__container{
        flex-direction: column;
    }
    .THIS .login-page__form-container,
    .THIS .login-page__logo-container{
        padding-right: 0;
        padding-left: 0;
    }
    .THIS .login-page__form-container{
        justify-content: start;
    }
    .THIS .login-page__logo-container{
        justify-content: center;
        align-items: center;
    }
    .THIS .login-page__logo-container img{
        max-width: 320px;
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .THIS .login-page__logo-container img{
        max-width: 195px;
        width: 100%;
    }
}